%li.event_rule{"data-index" => index}
  = link_to image_tag('delete.png', :size => '16x16', :alt => 'Remove Rule'), nil, :class => "remove_event_rule"

  = r.hidden_field(:id) unless r.object.new_record?

  If
  = event_category_select(r)

  = event_fields_for(r.object, 'cloudfuji_event_received') do
    = r.text_field :cloudfuji_event, :class => "cloudfuji_event"
    is received, and contains

  = event_fields_for(r.object, 'lead_attribute_changed') do
    = r.select :lead_attribute, lead_attributes, :class => "lead_attribute", :include_blank => true
    changes, and equals

  = content_tag(:small, "(optional)") << ":".html_safe
  = r.text_field :match, :class => "match_input"

  %small
    (Case insensitive?
    = r.check_box(:case_insensitive_matching) << h(")")

  then
  = action_select(r)

  = action_fields_for(r.object, 'change_lead_score') do
    by
    = r.text_field :change_score_by, :class => "numeric_input"
    points.

  -# Add/Remove tag actions share the same field
  = action_fields_for(r.object, %w(add_tag remove_tag)) do
    = r.text_field :tag, :class => "tag_input"

  %small
    (Limit per lead:
    = r.text_field(:limit_per_lead, :class => "numeric_input") << h(")")
