:javascript
  var observed_cloudfuji_events = #{Cloudfuji::Data.observed_events.map(&:to_s).inspect};

.title
  Event Rules

.list
  = form_for :event_rules do |f|
    %ul#event_rules
      - @event_rules.each_with_index do |rule, i|
        = f.fields_for i.to_s, rule do |r|
          = render "form", :r => r, :index => i

    .buttonbar.event_rules_buttons
      = add_event_rule_button(f)
      .save_or_cancel
        = submit_tag 'Save', :name => :save
        #{t :or}
        = link_to "Cancel", admin_event_rules_path
